<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinlian.biz.dao.AdminRocketToWalletMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinlian.biz.model.AdminRocketToWallet">
        <id column="id" property="id" />
        <result column="catUid" property="catUid" />
        <result column="rocketUid" property="rocketUid" />
        <result column="amount" property="amount" />
        <result column="status" property="status" />
        <result column="rocketPhone" property="rocketPhone" />
        <result column="coinName" property="coinName" />
        <result column="creatTime" property="creatTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, catUid AS catUid, rocketUid AS rocketUid, amount, status, rocketPhone AS rocketPhone ,coinName AS coinName,creatTime AS creatTime
    </sql>

</mapper>
