<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinlian.biz.dao.AdminReceiveMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinlian.biz.model.AdminReceiveMessage">
        <id column="id" property="id" />
        <result column="uids" property="uids" />
        <result column="message_id" property="messageId" />
        <result column="role_type" property="roleType" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, uids AS uids, message_id AS messageId, role_type AS roleType, create_time AS createTime
    </sql>

</mapper>
