<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinlian.biz.dao.AdminPermissionMapper">

  <resultMap id="BaseResultMap" type="com.xinlian.biz.model.AdminPermissionModel">
    <id column="id" property="id"/>
    <result column="menu_id"       property="menuId"/>
    <result column="label_key"     property="labelKey"/>
    <result column="label_name"    property="labelName"/>
    <result column="interface_uri" property="interfaceUri"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, menu_id, label_key, label_name, interface_uri
  </sql>

  <select id="query" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from admin_permission
  </select>


</mapper>