<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinlian.biz.dao.TChainOwnerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinlian.biz.model.TChainOwner">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="node_id" property="nodeId" />
        <result column="sign_status" property="signStatus" />
        <result column="email" property="email" />
        <result column="auth_name" property="authName" />
        <result column="auth_sn" property="authSn" />
        <result column="url" property="url" />
        <result column="cat_amount" property="catAmount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, node_id, sign_status, email, auth_name, auth_sn, url, cat_amount, create_time, update_time
    </sql>

    <update id="batchDisposeSubtractLock" parameterType="com.xinlian.biz.model.TReleaseCatRecord">
        update t_chain_owner
        set cat_amount = cat_amount - #{groupByReleaseCatNum}
        where cat_amount &gt;= #{groupByReleaseCatNum}
        <if test="releaseCatRecordList!=null">
            and uid in
            <foreach collection="releaseCatRecordList" item="record" open="(" close=")" separator=",">
                #{record.uid}
            </foreach>
        </if>
    </update>

    <insert id="batchInsertChainOwner" parameterType="com.xinlian.biz.model.TUploadChainOwnerRecord">
        insert into t_chain_owner
        (uid,node_id,email,auth_name,auth_sn,cat_amount,create_time)
        values
        <foreach collection="list" item="record" separator=",">
        (
        #{record.uid},
        #{record.userNodeId},
        #{record.userEmail},
        #{record.userAuthName},
        #{record.userAuthSn},
        #{record.defaultCatNum},
        CURRENT_TIMESTAMP
        )
        </foreach>
    </insert>

    <select id="query" resultType="com.xinlian.biz.model.TChainOwner" parameterType="com.xinlian.biz.model.TChainOwner">
        select co.uid as uid,ui.user_name as userName,ui.mobile as mobile,ui.email as email,co.node_id as nodeId,sn.name as serverNodeName,
                co.sign_status as signStatus,co.url as url,co.cat_amount as catAmount,co.create_time as createTime,
                co.auth_name as authName,co.auth_sn as authSn
        from t_chain_owner as co
        left join t_user_info as ui on co.uid = ui.uid
        left join t_server_node as sn on co.node_id = sn.id
        <where>
            1=1
            <if test="userName != null and userName != ''">
                and ui.user_name like concat('%',#{userName},'%')
            </if>
            <if test="uid != null">
                and co.uid = #{uid}
            </if>
            <if test="mobile != null and mobile != ''">
                and ui.mobile = #{mobile}
            </if>
            <if test="authSn != null and authSn != ''">
                and co.auth_sn = #{authSn}
            </if>
            <if test="signStatus != null">
                and co.sign_status = #{signStatus}
            </if>
            <if test="nodeId != null">
                and co.node_id = #{nodeId}
            </if>
        </where>
    </select>


</mapper>
