<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinlian.biz.dao.TProvinceCityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinlian.biz.model.TProvinceCity">
        <id column="id" property="id" />
        <result column="province_city_code" property="provinceCityCode" />
        <result column="province_city_name" property="provinceCityName" />
        <result column="parent_code" property="parentCode" />
        <result column="node_id" property="nodeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, province_city_code, province_city_name, parent_code, node_id
    </sql>

</mapper>
