<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinlian.biz.dao.TUserAuthAppealMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinlian.biz.model.TUserAuthAppeal">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="user_name" property="userName" />
        <result column="node_id" property="nodeId" />
        <result column="node_name" property="nodeName" />
        <result column="original_real_name" property="originalRealName" />
        <result column="appeal_real_name" property="appealRealName" />
        <result column="auth_sfzfm" property="authSfzfm" />
        <result column="auth_sfzzm" property="authSfzzm" />
        <result column="auth_scsfz" property="authScsfz" />
        <result column="appeal_status" property="appealStatus" />
        <result column="note" property="note"/>
        <result column="appeal_count" property="appealCount"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, user_name, node_id, node_name, original_real_name, appeal_real_name, auth_sfzfm, auth_sfzzm, auth_scsfz, appeal_status, note, appeal_count, create_time, update_time
    </sql>

</mapper>
